
:root {
  --mini-primary: #E21D38; /* Default Chili Red */
}

body {
  background-color: #f3f4f6;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.dark body {
  background-color: #0f172a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #334155;
}
